<template>
    <section id="services" class="bg-white py-8">
        <div class="container max-w-5xl mx-auto m-8">
            <h1 class="w-full my-2 text-5xl font-bold leading-tight text-center text-gray-800">Services</h1>
            <div class="w-full mb-4">
                <div class="h-1 mx-auto gradient w-64 opacity-50 my-0 py-0 rounded-t"></div>
            </div>

            <div class="flex flex-wrap" v-for="s in 3" :key="s" :class="{ 'flex-col-reverse sm:flex-row': s !== 2, 'mt-6': s === 2 }">
                <div class="w-full sm:w-1/2 p-6" v-if="s !== 2">
                    <img :src="$page.props.landing[`service${s}_image`]" class="w-full sm:h-64 mx-auto" alt="image" />
                </div>
                <div class="w-full sm:w-1/2 p-6">
                    <h3 class="text-3xl text-gray-800 font-bold leading-none mb-3">{{ $page.props.landing[`service${s}_title`] }}</h3>
                    <div class="block-text text-gray-800" v-html="$page.props.landing[`service${s}_text`]"></div>
                </div>
                <div class="w-full sm:w-1/2 p-6" v-if="s === 2">
                    <img :src="$page.props.landing[`service${s}_image`]" class="w-full sm:h-64 mx-auto" :alt="`Illustration de service n°${s}`" />
                </div>
            </div>
        </div>
    </section>
</template>

<script>
export default {
}
</script>
