.gradient {
    background: linear-gradient(90deg, #fbbf10 0%, #fc9622 100%);
}

#accueil {
    .hero-banner {
        position: absolute;
        z-index: 0;
        top: 0;
        right: 0;
        bottom: 25vh;
        left: 0;
        overflow: hidden;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;

        @media (min-width: 1280px) {
            bottom: 24vh;
        }
    }

    .hero-video {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 24vh;
        left: 0;
        overflow: hidden;
        z-index: 5;

        @media (min-width: 1024px) and (max-width: 1279px) {
            bottom: 21vh;
        }

        .video {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
            height: auto;
            min-height: 200%;
            min-width: 200%;
            width: auto;
        }
    }

    .wave {
        bottom: 0.5rem;

        @media (min-width: 768px) {
            bottom: 0.6rem;
        }

        @media (min-width: 1024px) {
            bottom: 1.8rem;
        }

        @media (min-width: 1280px) {
            bottom: 0;
        }

    }
}

#services, #fonctionnement {
    .block-text {
        ol {
            list-style-type: decimal;
            list-style-position: inside;
        }

        p, li {
            margin-bottom: 1.5rem;

        }
    }
}

#newsletter {
    .nwsltr-img {
        clip-path: circle(68% at 56% 50%);
    }
}

#newsletter, #contact {
    .honey {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        width: 0;
        z-index: -1;
    }
}

#gallery {
    .image-wrapper .image {
        height: 200px;
        width: 300px;
        background-size: cover;
        background-position: center;
        cursor: pointer;
    }
}

#contact {
    background-position: center;
    background-attachment: fixed;
    background-size: 100%;

    .notification {
        flex: 0 0 100%;
        padding: 1rem;
        margin: 1.5rem 0;
        border-left-width: 4px;
        border-left-color: rgb(4, 108, 78);
        background-color: rgb(222, 247, 236);
        color: rgb(14, 159, 110);

    }
}

#presentation {
    p {
        color: rgb(75, 85, 99);
        margin-bottom: 2rem;
    }
}
