<template>
    <div>
        <editor
            :api-key="$page.props.tiny_secret"
            :init="init"
            v-model="wysiwygData"
        />
    </div>
</template>

<script>
import Editor from '@tinymce/tinymce-vue';
export default {
    props: ['value'],
    components: {
        editor: Editor,
    },

    data () {
        return {
            init: {
                entity_encoding: 'raw',
                height: 500,
                menubar: false,
                plugins: [
                    'advlist autolink lists link charmap print preview anchor',
                    'searchreplace visualblocks fullscreen',
                    'insertdatetime wordcount',
                ],
                toolbar:
                    'bold italic | \
                    alignleft alignjustify | \
                    bullist numlist outdent indent | \
                    removeformat undo redo fullscreen',

            },
        }
    },

    computed: {
        wysiwygData: {
            get () {
                return this.value;
            },

            set (val) {
                this.$emit('input', val)
            }
        }
    }

}
</script>
